<form id="contact-form" action="https://api.web3forms.com/submit" method="POST" class="p-4 lg:px-32 lg:pb-10 animate__animated animate__delay-1s animate__zoomIn">
    <input type="hidden" name="access_key" value="04674b6d-d4e5-4c07-b44b-fcea80a58e3b">
    <div class="flex flex-wrap mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                Nom
            </label>
            <input class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="name" name="name" type="text" required>
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                Email
            </label>
            <input class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" name="_replyto" type="email" required>
        </div>
    </div>
    <input type="hidden" name="redirect" value="https://web3forms.com/success">
    <div class="mb-6">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="message">
            Message
        </label>
        <textarea class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="message" name="message" rows="6" required></textarea>
    </div>
    <div class="flex justify-center">
        <button id="contact-button" class="py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Envoyer
        </button>
    </div>
</form>
