@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Orpheus";
    src: url("../../dist/orpheus.ttf") format("truetype");
}

* {
    font-family: 'Marcellus', serif;
    color: #333333;
}

.contact, .paint-name {
    font-family: 'Orpheus', serif;
}

html {
    scroll-behavior: smooth;
}

nav, #contact-button, #menu-container {
    background-color: rgba(205, 172, 140, 0.9);
}

@media (min-width: 1024px) {
    #menu-container {
        background-color: transparent !important;
    }
}

#loading-page {
    background-color: rgba(205, 172, 140, 1);
}

#contact-button:hover {
    background-color: #9a7e5d;
    color: white;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

video {
    outline: 0;
}

#menu > a {
    @apply text-3xl;
    @apply lg:text-sm;
    @apply pt-4;
    @apply block;
    @apply uppercase;
    @apply m-0;
    @apply lg:ml-8;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.carousel-img {
    @apply h-[40vh] lg:h-[60vh] object-cover;
    width: auto!important;
}



blockquote::before, blockquote::after {
    color: #c6c6c6;
    font-size: 2em;
    font-weight: 400;
    line-height: 0.1em;
}

blockquote:before,
blockquote:after {
    @apply text-6xl md:text-9xl;
    position: absolute;
    color: #4b3333;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: -6rem;
    bottom: 1rem;
}


.container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
}

.feedback {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 3rem;
}

.gallery-item {
    background-color: rgba(255, 255, 255, 0.75);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


.lb-caption {
    color: white;
    white-space: pre-line;
    font-size: unset!important;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 50;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #FFFFFF;
    background: linear-gradient(#F2F2F2 0%, #FFFFFF 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FFFFFF;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FFFFFF;
}
