@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Marcellus', serif;
    color: #333333;
}



nav, #contact-button {
    background-color: rgba(205, 172, 140, 0.9);
}

#contact-button:hover {
    background-color: #9a7e5d;
    color: white;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

video {
    outline: 0;
}

#menu > a {
    @apply text-2xl;
    @apply lg:text-sm;
    @apply pt-4;
    @apply block;
    @apply uppercase;
    @apply m-0;
    @apply lg:ml-8;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.carousel-img {
    @apply h-[40vh] lg:h-[60vh] object-cover;
    width: auto!important;
}



blockquote::before, blockquote::after {
    color: #c6c6c6;
    font-size: 2em;
    font-weight: 400;
    line-height: 0.1em;
}

blockquote:before,
blockquote:after {
    @apply text-6xl md:text-9xl;
    position: absolute;
    color: #4b3333;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: -6rem;
    bottom: 1rem;
}


.container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
}

.feedback {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 3rem;
}

.gallery-item {
    background-color: rgba(255, 255, 255, 0.75);
}

