<nav class="container flex flex-wrap justify-between lg:bg-transparent p-4 mx-auto max-w-full sticky top-0 lg:relative z-50">
  <div>
    <a href="index.html">
      <img src="/img/logo.png" class="h-10">
    </a>

    <!--        <h3 class="text-2xl font-medium">ASMAART.</h3>-->
  </div>

  <div class="flex lg:hidden my-auto">
    <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            onclick="toggleMenu()"
    >
      <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </div>
  <div class="w-full lg:hidden"></div>
  <div id="menu" class="hidden flex lg:flex my-auto mx-auto lg:mx-0 h-screen lg:h-auto flex-col lg:flex-row justify-evenly">
    <a class="p-0"></a>
    <a href="index.html">Accueil</a>
    <a href="gallery.html">Galerie</a>
<!--    <a href="#">Peinture personnalisée</a>-->
    <a href="#contact" onclick="toggleMenu()">Contact</a>
    <a class="p-0"></a>
    <div class="flex justify-between pt-2 text-4xl lg:text-2xl">
      <a href="https://www.instagram.com/asmaart/"><i class="fa-brands fa-instagram lg:ml-8"></i></a>
      <a href="mailto:asmaart.peintre@gmail.com"><i class="fa-regular fa-envelope lg:ml-8"></i></a>
    </div>
    <a class="p-0"></a>
  </div>
</nav>